<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rock-Paper-Scissors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74A017491D530C9A0000C3AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74A0175D1D530C9B0000C3AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74A017681D530C9B0000C3AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
